#cmdash_header {
    background-color: blue;
    position: relative;
}

/*#cmdash_header #cmdash_logo{*/
    
/*}*/

#cmdash_header #btn_logout{
    position: absolute;
    right: 5px;
    top: 20px;
}

#cmdash_container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

#cmdash_menu {
    display: inline-block;
    background-color: gray;
    width: 145px;
    height: 400px;
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.cmdash_menuitem {
    /*display: inline;*/
    width: 140px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    cursor: pointer;
}

#cmdash_contentbox {
    display: inline-block;
    vertical-align: top;
    width: 645px;
    height: 400px;
    border: solid 1px gray;
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
    padding: 5px;
}

.cmdash_listitem {
    width: 635px;
    border-bottom: solid 1px gray;
    /*border-top: solid 1px gray;*/
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}